#welcome-card {
    text-align: center;
    background-image: url("/assets/jpg files/backgrounds/h_img.jpg");
    background-size: contain;
    margin-left: 140px;
    margin-right: 140px;
    padding: 80px;
    margin-bottom: 80px;
};
div.about-us {
    text-align: center;
};
#services {
    text-align: center;
    background-image: url("/assets/jpg files/backgrounds/s_image.jpg");
    background-size: contain;
    margin-top: 140px;
    margin-left: 140px;
    margin-right: 140px;
    padding: 80px;
    margin-bottom: 80px;
};
