body {
    text-align: center;
}

#welcome-card {
    background-image: url("/assets/jpg files/backgrounds/h_img.jpg");
    background-size: contain;
    margin-left: 140px;
    margin-right: 140px;
    padding: 80px;
    margin-bottom: 80px;
    color: white;
    margin-top: 80px;
}

#services {
    background-image: url("/assets/jpg files/backgrounds/s_image.jpg");
    background-size: contain;
    margin-top: 140px;
    margin-left: 140px;
    margin-right: 140px;
    padding: 80px;
    margin-bottom: 80px;
    color: white;
}

#what-we-do {
    padding-top: 80px;
}

#design-description {
    display: none;
}

#dev-description {
    display: none;
}

#product-description {
    display: none;
}
